body {
    background-image: url('BACK.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;
    background-size: 100% 100%;            
  }
  * {
      color : royalblue;


  }
  
.gride{
    display: flex;
    justify-content: space-evenly;
    flex:wrap;
}